* + * {margin-top: 2em;}
.fields > * + * {margin-top: 0;}
body {padding-top: 2em;}

h1 { text-shadow: 1px 1px 2px rgba(0,0,0,0.3); }

.button-run.copied {
	transform: scale(1.01);
	transition: all .2s cubic-bezier(.16,.43,.91,1.89);
	/*transition-delay: .5s;*/
}