body {
    background: rgb(52,148,230);
    background: linear-gradient(42deg, rgba(52,148,230,1) 0%, rgba(157,126,198,1) 41%, rgba(236,110,173,1) 100%);
}

h1 {
    text-shadow: 1px 1px 0px rgba(0, 0, 0, .2);
}

.output-data,
select,
input {
    transition: all .2s ease-in-out;
}

svg.loader {
  width: 3.75em;
  animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: hsla(341, 97%, 59%, 0.3);
  stroke-width: 2;
}

.ball {
  fill: #fc2f70;
  stroke: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}